body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  margin: 0; /* Zorg dat er geen margin is om layout-issues te vermijden */
  padding: 0;
}


h1{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
}

.input-username{
  height: 50px;
  width: 360px;
  align-items: center;
  font-size: 1.5em;
  text-align: left;
  border-radius: 4px;
  border-width: 4px;
  border: solid;
  background-color: #242424;
  border-color: rgb(134, 134, 134);
}

.input-password{
  height: 50px;
  width: 360px;
  align-items: center;
  font-size: 1.5em;
  text-align: left;
  border-radius: 4px;
  border-width: 4px;
  border: solid;
  background-color: #242424;
  border-color: rgb(134, 134, 134);
}

.Button {
  height: 40px;
  width: 95px;
  border-radius: 5px;
  border: none;
  background-color: #4a4a4a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  display: block;
  margin: 20px auto; /* Dit centreert de knop */
}
